openai
flask
gunicorn
gevent
pydub
requests
flask-security-too 
flask-sqlalchemy 
flask-wtf 
flask-mail
firebase-admin
patreon
passlib
httpx
sounddevice
python-dotenv
matplotlib
pandas
PyPDF2 
python-docx